<div class="logo">
    <a href="/">
        <img src="/assets/images/logo.png" alt="Blebba GDDL">
    </a>
</div>
<nav class="nav-links">
    <a href="https://blebba.ps.fhgdps.com/dashboard" target="_blank">Основной сайт</a>
    <a href="/roulette">Рулетка</a>
    <div class="dropdown">
        <button class="dropbtn">Списки ▾</button>
        <div class="dropdown-content">
            <a href="/main-list">Main List</a>
            <a href="/extended-list">Extended List</a>
            <a href="/full-list">Full List</a>
        </div>
    </div>
</nav>